//* ==========================================================================
//   00 COLOR CONFIGURATION: Colors Engine (Text, heading, link colors)
//	 	v0.9.9 Build 30 MVP
//   ========================================================================== */

// ==========================================================================
// LUMINA COLOR REGISTRY: Declare each color and how the engine handles it
// Schema: (Color, Text, Heading, Link, Footer)
// ==========================================================================

// SETUP DEFAULTS SO WE DON'T HAVE TO INCLUDE ALL FIELDS IN THE REGISTRY

//*-----------------------------------------------------------------------------
// 0.0  SETUP: FUNCTIONS AND MIXINS
// -----------------------------------------------------------------------------*/

// @use "sass:list";
// @use "sass:string";
// @use 'sass:map';
// @use "colors-logic" as logic;

/*-----------------------------------------------------------------------------
  COLORS: DEFAULT TEXT, HEADING, AND LINK COLORS
 -----------------------------------------------------------------------------*/
/*
 * Default contrast (text) based on background color.
 * To override, set these in theme.json:
 *		--wp--custom--color--contrast--{color}
 */

//*-----------------------------------------------------------------------------
// 0.1  SETUP: COLOR REGISTRY ENTRY DEFAULTS
// -----------------------------------------------------------------------------*/

// SETUP DEFAULTS SO WE DON'T HAVE TO INCLUDE ALL FIELDS IN THE REGISTRY
$color-defaults: (
    color:           null, 	// color slug (e.g. white, black, etc.)
    text:            null,	// dark, light, dark-light, light-dark, no-fallback
    buttons:		 null,	// true or false for explicit button text colors
    heading:		 null,	// dark or light
    heading-light:	 null,	// dark or light or inherit
    heading-dark:    null, 	// true or false
    link:            null,	// dark, light, inherit, highlight, highlight-alt
    link-dark:       null, 	// highlight, highlight-alt
    footer:          null,    // hover-highlight, hover-highlight-alt
//     footer-nav:      null,    // hover-highlight, hover-highlight-alt
    footer-dark:     null,    // hover-highlight, hover-highlight-alt
//     footer-nav-dark: null,    // hover-highlight, hover-highlight-alt
);

//*-----------------------------------------------------------------------------
// 0.2  SETUP: LUMINA COLOR REGISTRY
// -----------------------------------------------------------------------------*/
// MAP OF ALL COLORS IN THE PALETTE (THAT AREN'T IN PARENT THEME)
$color-registry: (
    // --- MAIN COLORS (DARK) ---
    ( color: 'primary',           text: 'light',  	link: 'inherit' ),
    ( color: 'primary-alt',       text: 'light',  	link: 'inherit' ),
    ( color: 'secondary',         text: 'light',  	link: 'inherit' ),

    ( color: 'secondary-alt',     text: 'light',  	link: 'lighten' ), 

    ( color: 'tertiary',          text: 'light',  	link: 'inherit' ),
    ( color: 'tertiary-alt',      text: 'light',  	link: 'inherit' ),

    // --- CORE CANVAS CONTRASTS ---
//     ( color: 'base',              text: 'no-fallback' ),      
    ( color: 'foreground-alt',    text: 'dark' ),
    ( color: 'contrast',          text: 'base' ),
    
    // --- NEUTRALS (E.G. SIDEBAR, BORDERS ) ---
    ( color: 'neutral',           text: 'dark' ),
    ( color: 'neutral-alt',       text: 'dark' ),
    
    // --- SPECIAL HIGHLIGHT SLOTS ---
    ( color: 'highlight',     	  text: 'dark',  	link: 'inherit' ),
    ( color: 'highlight-alt', 	  text: 'light', 	link: 'inherit' ),
    
    // --- WHITE & GRAY NAMED COLORS ---
    ( color: 'white',             text: 'dark' ),
    ( color: 'off-white',         text: 'dark' ),

    ( color: 'very-light-gray',   text: 'dark' ),
    ( color: 'light-gray',        text: 'dark' ),
    ( color: 'gray',              text: 'dark' ),
    ( color: 'dark-gray',         text: 'light', 	link: 'inherit' ),

    // --- GREEN NAMED COLORS ---
    ( color: 'light-green',       text: 'light',  	link: 'inherit' ),
    ( color: 'green',             text: 'light',  	link: 'inherit' ),
    ( color: 'bright-green',      text: 'dark', 	link: 'inherit' ),
    ( color: 'dark-bright-green', text: 'light',  	link: 'inherit' ),

    // --- YELLOW & ORANGE NAMED COLORS ---
    ( color: 'light-yellow',      text: 'dark', 	link: 'inherit' ),
    ( color: 'yellow',            text: 'dark', 	link: 'inherit' ),
    ( color: 'light-orange',      text: 'light',  	link: 'inherit' ),
    ( color: 'orange',            text: 'light',  	link: 'inherit' ),
    ( color: 'dark-orange',       text: 'light',  	link: 'inherit' ),

    // --- BLUE NAMED COLORS ---
    ( color: 'light-blue',        text: 'light',  	link: 'inherit' ),
    ( color: 'blue',              text: 'light',  	link: 'inherit' ),
    ( color: 'dark-blue',         text: 'light',  	link: 'inherit' ),
    ( color: 'midnight-blue',     text: 'light',  	link: 'inherit' ),

//     ( color: 'dark-midnight-blue',text: 'light',  	link: 'highlight' ),
    ( color: 'dark-midnight-blue',text: 'light',  	link: 'lighten' ),

    // --- PURPLE NAMED COLORS ---
    ( color: 'light-purple',      text: 'light',  	link: 'inherit' ),
    ( color: 'purple',            text: 'light',  	link: 'inherit' ),
    ( color: 'dark-purple',       text: 'light',  	link: 'inherit' ),

    // --- RED NAMED COLORS ---
    ( color: 'light-red',         text: 'light',  	link: 'inherit' ),
    ( color: 'red',               text: 'light',  	link: 'inherit' ),
    ( color: 'dark-red',          text: 'light',  	link: 'inherit' ),

    // --- VERY DARK NAMED COLORS ---
    ( color: 'dark',              text: 'light',  	link: 'lighten' ),
    ( color: 'dark-alt',          text: 'light',  	link: 'lighten' ),

    ( color: 'very-dark-gray',    text: 'light',  	link: 'lighten' ),
    ( color: 'almost-black',      text: 'light',  	link: 'lighten' ),
    ( color: 'not-quite-black',   text: 'light',  	link: 'lighten' ),
    ( color: 'black',             text: 'light',  	link: 'lighten' ),
);

// Optimize link lighten and darken for Flat Blocks specifically
$filter-link-lighten: brightness(1.17) saturate(1.0) !default;
$filter-link-darken:  brightness(0.85) saturate(1.0) !default;

// When setting text colors also set button text colors explicitly
$explicit-button-text-color: false; 
