//* ==========================================================================
//   01 COLOR LOGIC: The foundational colors engine. This file contains 
//		the helper utilities and %extends for handling colors.
//   ========================================================================== */

//* ==========================================================================
//	 v0.9.9 Build 30 MVP
//   ========================================================================== */

@use 'sass:string';
// @use 'sass:list';
// @use 'sass:map';

@use '00-config' as config;

// ==========================================================================
// 01.01 BUILD SELECTOR LIST: Build a compiled comma-separated CSS selector 
//		 string
// ==========================================================================

@function build-selector-list(
	$colors, 
	$prefix: ".has-", 
// 	$prefix: ":root .has-", 
	$suffix: "-background-color"
) {
    $selectors: "";
    @each $color in $colors {
        $selectors: $selectors + "#{$prefix}#{$color}#{$suffix},";
    }
    @return string.slice($selectors, 1, string.length($selectors) - 1);
}

// ==========================================================================
// 01.02 %EXTENDS FOR SELECTOR GROUPING: Combine selectors for reducing CSS
//		 file size
// ==========================================================================

%engine-heading-inherit {
//     :is(.wp-block-heading, 
//     .wp-block-post-title, 
//     .wp-block-query-title, 
//     .wp-block-site-title, 
//     .wp-block-site-tagline,
//     h1, h2, h3, h4, h5, h6
// 	) {
		/* Inherit heading color */
        color: inherit;
//     }
}

%engine-heading-dark-text {
//     :is(.wp-block-heading, 
//     .wp-block-post-title, 
//     .wp-block-query-title, 
//     .wp-block-site-title, 
//     .wp-block-site-tagline,
//     h1, h2, h3, h4, h5, h6
// 	) {
        /* Force explicit dark headings on persistent light surfaces in dark mode */
        color: var(--wp--preset--color--almost-black);
//     }
}

%engine-heading-dark {
//     :is(.wp-block-heading, 
//     .wp-block-post-title, 
//     .wp-block-query-title, 
//     .wp-block-site-title, 
//     .wp-block-site-tagline,
//     h1, h2, h3, h4, h5, h6
// 	) {
		/* Set heading color to theme.json var or secondary-alt */
        color: var(--wp--custom--color--heading--text, var(--wp--preset--color--secondary-alt));
//     }
}

%engine-heading-darken {
//     :is(.wp-block-heading, 
//     .wp-block-post-title, 
//     .wp-block-query-title, 
//     .wp-block-site-title, 
//     .wp-block-site-tagline,
//     h1, h2, h3, h4, h5, h6
// 	) {
		/* In dark mode, darken headings on light backgrounds */
		filter: brightness(0.52) saturate(1.6);
// 	}
}

%engine-link-inherit {
	/* Inherit link color */
    color: inherit;
}

%engine-link-lighten {
//     filter: config.$filter-link-lighten;
	color: var(--wp--preset--color--highlight);
// 	text-decoration-line: none;
}

%engine-link-darken {
//     filter: config.$filter-link-darken;
	color: var(--wp--preset--color--highlight-alt);
// 	text-decoration-line: none;
}

// %engine-link-lighten {
// 	/* Lighten link color on dark backgrounds */
// 	filter: brightness(2.05) saturate(0.87);
// }
// 
// %engine-link-darken {
// 	/* Darken link color on light backgrounds */
// // 	filter: brightness(0.41) saturate(1.15);
// // 	filter: brightness(0.8) saturate(1.15);
// 	filter: brightness(0.52) saturate(1.6);
// }

%engine-link-dark-text {
    /* Set links to high-contrast dark text */
    color: var(--wp--preset--color--almost-black); // !important;
}

%engine-link-light-text {
    /* Set links to high-contrast light text */
    color: var(--wp--preset--color--foreground-alt); // !important;
}

%engine-link-highlight {
	/* Lighten link color on dark backgrounds */
    color: var(--wp--preset--color--highlight);
// 	filter: brightness(2.05) saturate(0.87);
// 	text-decoration-line: none;
}

%engine-link-highlight-alt {
	/* Darken link color on light backgrounds */
    color: var(--wp--preset--color--highlight-alt);
// 	filter: brightness(0.41) saturate(1.15);
// 	filter: none; // Needed only for overriding parent
// 	text-decoration-line: none;
}

%engine-link-underline {
	/* Underline links */
    text-decoration-line: underline;
}

%engine-link-underline-special {
	/* Special underline links in footers */
    text-decoration-style: var(--wp--custom--link--special-style, dotted);
    text-decoration-line: underline;
}

%engine-link-remove-underline {
	/* Underline links */
    text-decoration-line: none;
}

// ==========================================================================
// 01.03 CONTRAST (TEXT) COLOR: Set light or dark text color
// ==========================================================================
@mixin apply-contrast-color(
	$color, 			// color slug (e.g. primary-alt)
	$text-style,		// light-text, dark-text, no-fallback
	$buttons: false, 	// true also adds color to buttons. Not needed for Lumina.
	$root: null,		// Add :root to text color assignment
) {

	// Build .has-$color-background-color	
	$selectors: build-selector-list($color);
	@if $root {
		$selectors: build-selector-list(
			$color,
			$prefix: ':root .has-'
		);	
	}

	// If buttons, also add button selector	
// 	@if $buttons or config.$explicit-button-text-color  {
// 		$selectors: '#{$selectors}, a:where(.wp-element-button, .wp-block-button__link)#{$selectors}'; 
// 	}

	// Apply the selectors
	#{$selectors} {

		// Pure variable hook: If undefined in theme.json, the browser 
		// treats it as unset/inherit, leaving your global layout pure!
		@if $text-style == 'no-fallback' {
			color: var(--wp--custom--color--contrast--#{$color}); // !important;

		// Default to light text
		} @else {
			$fallback: var(--wp--preset--color--foreground-alt);
			
			// But override to dark text if on light background
			@if $text-style == 'dark' {
				$fallback: var(--wp--preset--color--almost-black);
			
			// And swap base and contrast colors
			} @else if $text-style == 'base' {
				$fallback: var(--wp--preset--color--contrast);			

			} @else if $text-style == 'contrast' {
				$fallback: var(--wp--preset--color--base);			
			}

			color: var(--wp--custom--color--contrast--#{$color}, #{$fallback}); // !important;
		}
	}
}

// ==========================================================================
// 01.03 HEADING COLOR: Set light, dark, or inherit heading color
// ==========================================================================
@mixin apply-heading-action($selectors, $heading) {

	#{$selectors} {
		:is(.wp-block-heading, 
		.wp-block-post-title, 
		.wp-block-query-title, 
		.wp-block-site-title, 
		.wp-block-site-tagline,
		h1, h2, h3, h4, h5, h6
		) {
			@if $heading == 'light' or $heading == 'inherit' {
				@extend %engine-heading-inherit;

			// Apply dark heading color if specified in color registry entry
			} @else if $heading == 'heading-dark' {
				@extend %engine-heading-dark;
		
			} @else if $heading == 'darken' {
				@extend %engine-heading-darken;

			// Light backgrounds, set dark heading color
			} @else if $heading == 'dark' {
				@extend %engine-heading-dark-text;
			}
		}
	}
}

// ==========================================================================
// 01.04 LINK COLOR: Set light, dark, or inherit link color
// ==========================================================================
@mixin apply-link-action(
	$selectors, 
	$link,
// 	$root: null,
	$remove-underline: null,
) {

// 	@if $root {
// 		$Selectors: ':root #{$selectors}';
// 	}

	// Inherit link color, apply underlines in post content, and special
	// underlines in the footers
	@if $link == 'dark' or $link == 'light' or $link == 'inherit' {
	
		// Inherit or set link color
		#{$selectors} a:where(:not(
			.wp-element-button, 
			.wp-block-social-link-anchor, 
			.wp-block-navigation-item__content
		)) {
			@if $link == 'dark' { 
				@extend %engine-link-dark-text; 

			} @else if $link == 'light' { 
				@extend %engine-link-light-text; 

			} @else if $link == 'inherit'{
				@extend %engine-link-inherit;
			}		
		}
		
		// In Post Content, also underline link
		.wp-block-post-content #{$selectors} a:not(
			.wp-element-button, 
			.wp-block-social-link-anchor, 
			.wp-block-navigation-item__content
		) {
			@extend %engine-link-underline;
		}
		
		// In Footers, only underline text links (e.g. <p>)
		#{$selectors}:is(.site-footer, .footer-info) p a:where(:not(
			.wp-element-button, 
			.wp-block-social-link-anchor, 
			.wp-block-navigation-item__content
		)) {
			@extend %engine-link-underline-special;
		}
	
	// Swap default dark link color for light one on dark bg's	
	} @else if $link == 'highlight' or $link == 'lighten' 
			or $link == 'highlight-alt' or $link == 'darken' 
	{
		#{$selectors} a:not(
			.wp-element-button, 
			.wp-block-social-link-anchor, 
			.wp-block-navigation-item__content
		) {

			@if $link == 'highlight' { 
				@extend %engine-link-highlight;

			} @else if $link == 'lighten' { 
				@extend %engine-link-lighten;

			} @else if $link == 'highlight-alt'{
				@extend %engine-link-highlight-alt;

			} @else if $link == 'darken'{
				@extend %engine-link-darken;
			}	
		}
		
		// Remove link underline this way to override parent theme
		@if $remove-underline {
			.wp-block-post-content #{$selectors} a:not(
				.wp-element-button, 
				.wp-block-social-link-anchor, 
				.wp-block-navigation-item__content
			) {
				@extend %engine-link-remove-underline;
			}
		}
	}
}

// ==========================================================================
// 01.05 FOOTER HOVER COLOR: Set hover-highlight or hover-highlight-alt
// ==========================================================================
@mixin apply-footer-action($selectors, $footer) {

	@if $footer == 'hover-highlight' {
		#{$selectors}:is(.site-footer, .footer-info) {
			a:not(.wp-element-button, .wp-block-social-link-anchor):hover,
			.wp-block-navigation-item__content:hover {
				@extend %engine-link-highlight;
// 				opacity: 1;
			}				
		}

	} @else if $footer == 'hover-highlight-alt' {
		#{$selectors}:is(.site-footer, .footer-info) {
			a:not(.wp-element-button, .wp-block-social-link-anchor):hover,
			.wp-block-navigation-item__content:hover {
				@extend %engine-link-highlight-alt;
// 				opacity: 1;
			}
		}
	}
}
