//* ==========================================================================
//   02 GLOBAL COLORS: Set colors regardless of light or dark mode
//	    v0.9.9 Build 30 MVP
//   ========================================================================== */

// @use 'sass:list';
@use 'sass:map';

// @use '00-config' as config;
// @use '01-logic' as logic;
@use "index" as logic;

//*-----------------------------------------------------------------------------
// # GLOBAL 3-PASS COLORS ENGINE
//*-----------------------------------------------------------------------------

//*-----------------------------------------------------------------------------
// # PASS 1: GLOBAL TEXT, HEADING, LINK COLORS
// # Text, headings, and links default to dark in the main theme palette
//*-----------------------------------------------------------------------------

@mixin apply-colors-global {

	/* ==========================================================================
	   02 GLOBAL COLORS: Set colors regardless of light or dark mode
	========================================================================== */

	// Loop through the colors and output CSS
	@each $entry in logic.$color-registry {
		$config: 	map.merge(logic.$color-defaults, $entry);
		$color:  	map.get($config, color);
		$text:   	map.get($config, text);
		$heading:   map.get($config, heading);
		$link:   	map.get($config, link);
	
		// Build the .has-$color-background-color selector
		$selectors: logic.build-selector-list($color);
		
		// Always need to add :root in the global space to override parent them
		$root: true; 

		@if $text == 'light' {
			@include logic.apply-contrast-color($color, 'light', $root);

			@include logic.apply-heading-action($selectors, 'light'); //////
		} @else {
			@include logic.apply-contrast-color($color, $text, $root);
		}

		// Handle heading override
		@if $heading {
			@include logic.apply-heading-action($selectors, $heading); //////
		}
		
		// If link color, then apply it in the global space
		@if $link {
			@include logic.apply-link-action($selectors, $link, $remove-underline: true);
		}
	}
}
