# npm node modules
node_modules/

# Zip files
*.zip

# Debugging files 
**/*.asset.php
**/*.css.map

# Webpack files
#webpack.config.js
#package.json
#package-lock.json

# Shell scripts
*.sh

# Mac files
.DS_Store
**/.DS_Store

# Ignore save and test files
**/*-SAVE*
**/*-test*
styles/*-test*
zz_unused

# Ignore individual block styles since not implemented yet
assets/css/blocks/
#assets/css/*-rtl.css

# Ignore PRO theme files
#pro
#templates/pro-*
#assets/css/pro/*-rtl.css

# Ignore our xtremelysocial.com files
styles/*xtremelysocial*.json
