//------------------------------------------------------------------------------
// Colors Logic Mixins
//------------------------------------------------------------------------------

@use "sass:list";
@use "sass:string";

/*-----------------------------------------------------------------------------
// SET CONTRAST LOGIC: Provide theme.json override for each color
-----------------------------------------------------------------------------*/
@mixin set-contrast-logic(
	$colors, 
	$default
) {
	@each $color in $colors {		
		.has-#{$color}-background-color { 
			color: var(--wp--custom--color--contrast--#{$color}, #{$default}) !important;
		}
	}
}

/*-----------------------------------------------------------------------------
# BUILD SELECTOR LIST: Build a CSS selector string
-----------------------------------------------------------------------------*/
@function build-selector-list(
	$colors, 
	$prefix: ".has-", 
	$suffix: "-background-color"
) {
    $selectors: "";
    @each $color in $colors {
        $selectors: $selectors + "#{$prefix}#{$color}#{$suffix},";
    }
    @return string.slice($selectors, 1, string.length($selectors) - 1);
}
