/*------------------------------------------------------------------------------
# Icons
#
# Note: Needed for multiple blocks so always load
------------------------------------------------------------------------------*/

/* Don't underline links, but lighten on hover */
[class*="is-style-icon-"] a,
.is-style-arrow-icon-no-text a { //deprecated
	text-decoration: none; // !important;
	outline: none; // !important;
}

[class*="is-style-icon-"] a:hover,
[class*="is-style-icon-"] a:active,
.is-style-arrow-icon-no-text a:hover { //deprecated
	opacity: var(--wp--custom--color--link--hover-opacity, 0.8);
// 	text-decoration: none; // !important;
}

/* No icons for post meta */
.is-style-no-icon:before { //,
// .is-style-no-icon:after {	
	content: none !important;
}
