/*-----------------------------------------------------------------------------
# Compatibility with other themes
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
# Compatibility with other themes
#
# This is so that user's content created with other themes will look OK before
# they update it for the Flat Blocks theme.
-----------------------------------------------------------------------------*/
:where(.has-background) {
    background-color: var(--wp--preset--color--neutral);
    color: var(--wp--preset--color--contrast); // !important;
}

// // :where(.has-background:not(.has-text-color)) {
// :where(.has-background):not(.has-text-color) {
// // .has-background:not(.has-text-color) {
//     color: var(--wp--preset--color--contrast); // !important;
// }

:where(.has-text-color) {
	color: var(--wp--preset--color--contrast);
}

:where(.has-border-color) {
	border-color: var(--wp--preset--color--neutral-alt);
}
