/*--------------------------------------------------------------
# Flat Blocks Theme Compatibility with Prior Versions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors (for Flat Blocks < v1.6)
--------------------------------------------------------------*/
.has-foreground-color {
	color: var(--wp--preset--color--contrast);
}
.has-foreground-background-color {
	background-color: var(--wp--preset--color--contrast);
}
.has-foreground-border-color {
	border-color: var(--wp--preset--color--contrast);
}
.has-background-color {
	color: var(--wp--preset--color--base);
}
.has-background-background-color {
	background-color: var(--wp--preset--color--base);
}
.has-background-border-color {
	border-color: var(--wp--preset--color--base);
}

/*--------------------------------------------------------------
# Flat Blocks Custom Styles (for theme < v1.6.4)
--------------------------------------------------------------*/
/* 
 * Template Parts (now in /styles/templates/*.json) 
 * 
 * Note: :where() is used to lower the specificity so that these
 * can easily be overridden theme styles (.json)
 */
:where(.is-style-template-header) {
	background-color: var(--wp--preset--color--base);
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
	border-bottom: 1px solid var(--wp--custom--border--color);
}

:where(.is-style-template-title),
:where(.is-style-template-banner) {
	color: var(--wp--preset--color--foreground-alt);
	background-color: var(--wp--preset--color--primary);
	padding-top: var(--wp--preset--spacing--60);
	padding-bottom: var(--wp--preset--spacing--60);
	background-color: var(--wp--preset--color--primary);
}

:where(.is-style-template-footer) {
	color: var(--wp--preset--color--foreground-alt);
	background-color: var(--wp--preset--color--dark);
	padding-top: var(--wp--preset--spacing--60);
}

:where(.is-style-template-footer-alt) {
	color: var(--wp--preset--color--foreground-alt);
	background-color: var(--wp--preset--color--dark-alt);
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
}

:where(.is-style-template-post-meta),
:where(.is-style-template-sidebar) {
	background-color: var(--wp--preset--color--neutral);
	border: 1px solid var(--wp--custom--border--color);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--40);
	margin-bottom: var(--wp--style--block-gap);
}

:where(.is-style-template-comments) {
	background-color: var(--wp--preset--color--neutral);
	border: 1px solid var(--wp--custom--border--color);
	border-radius: var(--wp--custom--border--radius);
	padding-left: var(--wp--preset--spacing--40);
	padding-right: var(--wp--preset--spacing--40);
	margin-bottom: var(--wp--style--block-gap);
}

/* Cover and Media & Text Borders */
.is-style-cover-rounded-corners {
	border-radius: var(--wp--custom--border--radius);
	overflow: hidden;
}

.is-style-cover-border,
.is-style-media-text-border {
	border: 1px solid var(--wp--custom--border--color);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--40);
}
