/*-----------------------------------------------------------------------------
# Post Comments Count (Only w/WordPress v6.9+ or Gutenberg Plugin)
-----------------------------------------------------------------------------*/
@use "../mixins/icons";

@include icons.svg-icon(
	$class: 'wp-block-post-comments-count',
	$icon: 'admin-comments',
	$location: 'before'
);

/* Add word "comment(s)" after post comment count */
.wp-block-post-comments-count:after {
	content: "comment(s)";
	margin-left: 0.15em;
}
