/**
 * Theme:	Flat Blocks
 * File:	custom-styles.css
 * 
 * The stylesheet for our theme's custom block styles
 *
 * @package flat-blocks
 */

/*--------------------------------------------------------------
# Fixed Header Group
--------------------------------------------------------------*/
.wp-block-group.is-style-fixed-header {
    position: fixed;
    top: 0;
    left: var(--wp--custom--gap--horizontal);
    right: var(--wp--custom--gap--horizontal);
    z-index: 10;
    border-bottom: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--header-alt);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

/* Adjust fixed header position so its underneath the WordPress admin bar */
.admin-bar .is-style-fixed-header {
  top: 46px;
}
@media screen and (min-width: 783px) {
  .admin-bar .is-style-fixed-header {
    top: 32px;
  }
}

/* Override WordPress Admin bar on phones not sticking to the top */
@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed; /*absolute*/
    }
}

/*--------------------------------------------------------------
# Fixed Navigation Menu
--------------------------------------------------------------*/
.wp-block-navigation.is-style-fixed-menu {
    position: fixed;
    /*top: calc(var(--wp--custom--gap--vertical) - 8px);*/
    top: calc(var(--wp--custom--gap--vertical) - 4px);
    /*left: var(--wp--custom--gap--horizontal);*/
    /*right: var(--wp--custom--gap--horizontal);*/
    /*background-color: transparent !important;*/
	/*opacity: .8;*/
    z-index: 10;
}

.wp-block-navigation.is-style-fixed-menu.items-justified-right {
    right: var(--wp--custom--gap--horizontal);
}

.wp-block-navigation.is-style-fixed-menu.items-justified-left {
    left: var(--wp--custom--gap--horizontal);
}

.wp-block-navigation.is-style-fixed-menu.items-justified-center,
.wp-block-navigation.is-style-fixed-menu.items-justified-space-between {
    left: var(--wp--custom--gap--horizontal);
    right: var(--wp--custom--gap--horizontal);
}

/*.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container {
	background-color: var(--wp--custom--navigation--submenu--color--text) !important;
	color: var(--wp--custom--navigation--submenu--color--background) !important;
}*/

.wp-block-navigation.is-style-fixed-menu . wp-block-navigation__responsive-container {
	opacity: 1;
}

/* Invert the mobile nav button colors */
.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container-open {
	padding: 8px;
	/*background-color: var(--wp--custom--navigation--submenu--color--text);
	color: var(--wp--custom--navigation--submenu--color--background);*/
	opacity: .75;
	/*background-color: rgba(0,0,0,.25);*/
}

/* Fix the close button (X) to the same place as the open button */
/*.wp-block-navigation.is-style-fixed-menu.is-responsive .wp-block-navigation__responsive-container-close {
  right: 8px;
  top: 10px;
}*/

/*.wp-block-navigation.is-style-fixed-menu .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
}*/

/*--------------------------------------------------------------
# Cover
--------------------------------------------------------------*/

.wp-block-cover.is-style-cover-border {
	border: var(--wp--custom--border--normal) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);
}

/*--------------------------------------------------------------
# Group
--------------------------------------------------------------*/

.wp-block-group.is-style-group-border {
	border: var(--wp--custom--border--normal) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	/*padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);*/
	padding: var(--wp--custom--gap--baseline);
}

/*.wp-block-group.is-style-thick-top-border {*/
	/*border-top: var(--wp--custom--border--thick) var(--wp--custom--border--style) var(--wp--preset--color--default-border);*/
	/*border: var(--wp--custom--border--thick) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-width: var(--wp--custom--border--thick) 0 0 0;
}*/

/*.wp-block-group.is-style-thin-top-border {*/
	/*border-top: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);*/
/*	border: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-width: var(--wp--custom--border--thin) 0 0 0;
}*/

.wp-block-group.is-style-thick-bottom-border {
	/*border-bottom: var(--wp--custom--border--thick) var(--wp--custom--border--style) var(--wp--preset--color--default-border);*/
	border: var(--wp--custom--border--thick) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-width: 0 0 var(--wp--custom--border--thick) 0;
}

.wp-block-group.is-style-thin-bottom-border {
	/*border-bottom: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);*/
	border: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-width: 0 0 var(--wp--custom--border--thin) 0;
}

.wp-block-group.is-style-group-rounded-border,
.wp-block-post-comments.is-style-comments-rounded-border {
	border: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-radius: var(--wp--custom--border--radius)
}

.wp-block-post-comments.is-style-comments-rounded-border {
	padding: calc(.5 * var(--wp--custom--gap--vertical)) calc(.5 * var(--wp--custom--gap--horizontal));
}

/*.wp-block-group.is-style-thick-padding {
	padding: calc(2 * var(--wp--custom--gap--vertical)) calc(2 * var(--wp--custom--gap--horizontal));**/
	/*padding-top: calc(2 * var(--wp--custom--gap--vertical));
	padding-bottom: calc(2 * var(--wp--custom--gap--vertical));*/
/*}*/

.wp-block-group.is-style-thin-padding {
	padding: calc(.5 * var(--wp--custom--gap--vertical)) calc(.5 * var(--wp--custom--gap--horizontal));
	/*padding-top: calc(.5 * var(--wp--custom--gap--vertical));
	padding-bottom: calc(.5 * var(--wp--custom--gap--vertical));*/
}

/* Fix for fullwidth because ponyfill.css adds negative margin */
.is-style-thin-padding.alignfull {
  padding-left: var(--wp--custom--gap--horizontal);
	padding-right: var(--wp--custom--gap--horizontal);
}

.wp-block-group.is-style-no-padding {
	/*padding: 0;*/
	padding-top: 0;
	padding-bottom: 0;
}

.wp-block-group.is-style-top-margin {
	margin-top: var(--wp--custom--gap--vertical);
}

/*.wp-block-group.is-style-thin-top-margin {
	margin-top: calc(.5 * var(--wp--custom--gap--vertical));
}

.wp-block-group.is-style-thick-top-margin {
	margin-top: calc(2 * var(--wp--custom--gap--vertical));
}*/

.wp-block-group.is-style-margin {
	margin-top: var(--wp--custom--gap--vertical);
	margin-bottom: var(--wp--custom--gap--vertical);
}

/*.wp-block-group.is-style-thin-margin {
	margin-top: calc(.5 * var(--wp--custom--gap--vertical));
	margin-bottom: calc(.5 * var(--wp--custom--gap--vertical));
}

.wp-block-group.is-style-thick-margin {
	margin-top: calc(2 * var(--wp--custom--gap--vertical));
	margin-bottom: calc(2 * var(--wp--custom--gap--vertical));
}*/

.wp-block-group.is-style-bottom-margin {
	margin-bottom: var(--wp--custom--gap--vertical);
}

/*--------------------------------------------------------------
# Utility Paddings (for users to add to Advanced css class on a block)
--------------------------------------------------------------*/
.is-style-default-padding:not(.wp-block-group) {
	padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal));
}

.is-style-thick-padding:not(.wp-block-group) {
	padding: calc(2 * var(--wp--custom--gap--vertical)) calc(2 * var(--wp--custom--gap--horizontal))
}


.is-style-thin-padding:not(.wp-block-group) {
	padding: calc(.5 * var(--wp--custom--gap--vertical)) calc(.5 * var(--wp--custom--gap--horizontal));
}

.is-style-no-padding:not(.wp-block-group) {
	padding: 0;
}

.is-style-no-margin:not(.wp-block-group) {
	/*margin: 0;*/
	margin-top: 0;
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/

/* When columns collapse on mobile, center them */
/* Breakpoint of 599 is what is hard-coded in Gutenberg to collapse columns */
/* Breakpoint of 781 is what is hard-coded in Gutenberg to set columns to 50% */
/*@media only screen and (max-width: 599px) {*/
@media only screen and (max-width: 781px) {

	/* Always align text center */
	/**.wp-block-columns.is-style-center-on-mobile .wp-block-column,
	.wp-block-columns.is-style-center-on-mobile .wp-block-column .has-text-align-right,
	.wp-block-columns.is-style-center-on-mobile .wp-block-column .has-text-align-left {
		text-align: center;
	}**/

	/*.wp-block-column.is-style-center-on-mobile,
	.wp-block-column.is-style-center-on-mobile .has-text-align-right,
	.wp-block-column.is-style-center-on-mobile .has-text-align-left {
		text-align: center;
	}*/

	/* For flex box items, align center */
	/*.wp-block-columns.is-style-center-on-mobile .wp-block-column > .items-justified-left,
	.wp-block-columns.is-style-center-on-mobile .wp-block-column > .items-justified-right,
	.wp-block-columns.is-style-center-on-mobile .wp-block-column > .alignleft,
	.wp-block-columns.is-style-center-on-mobile .wp-block-column > .alignright,*/
	/**.wp-block-columns.is-style-center-on-mobile .wp-block-column > * {
		text-align: center;
		display: flex;
		justify-content: center !important;
		--navigation-layout-justification-setting: center;
		--navigation-layout-justify: center;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}**/

	/*.wp-block-column.is-style-center-on-mobile > .items-justified-left,
	.wp-block-column.is-style-center-on-mobile > .items-justified-right,
	.wp-block-column.is-style-center-on-mobile > .alignleft,
	.wp-block-column.is-style-center-on-mobile > .alignright {
		display: flex;
		justify-content: center !important;
		--navigation-layout-justification-setting: center;
		--navigation-layout-justify: center;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}*/

	.wp-block-columns.is-style-center-on-mobile .wp-block-column:not(.wp-block-navigation__responsive-container-content) > * {
		display: flex;
		justify-content: center;
		--navigation-layout-justify: center;		
	}
		
	/* Center block buttons */
	/*.wp-block-columns.is-style-center-on-mobile .wp-block-column > .wp-block-buttons,
	.wp-block-columns.is-style-center-on-mobile .wp-block-column > .wp-block-button {
		display: flex;
		justify-content: center !important;
	}*/
	
	/* Center the mobile navigation button */
	/*.wp-block-columns.is-style-center-on-mobile .wp-block-column .items-justified-left .wp-block-navigation__responsive-container-open,
	.wp-block-columns.is-style-center-on-mobile .wp-block-column .items-justified-right .wp-block-navigation__responsive-container-open {
		margin-left: auto;
		margin-right: auto;
	}

	.wp-block-columnn.is-style-center-on-mobile .items-justified-left .wp-block-navigation__responsive-container-open,
	.wp-block-columnn.is-style-center-on-mobile .items-justified-right .wp-block-navigation__responsive-container-open {
		margin-left: auto;
		margin-right: auto;
	}*/

}

/* TO:DO - GET THIS WORKING! */
/*
@media (min-width: 600px) and(max-width: 781px) {
    .wp-block-column:not(:only-child) {
        flex-basis: calc(50% - 1em) !important;
        flex-grow:0
    }

    .wp-block-column:nth-child(2n) {
        margin-left:2em
    }
}

@media (min-width: 782px) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow:1
    }

    .wp-block-column[style * =flex-basis] {
        flex-grow:0
    }

    .wp-block-column:not(:first-child) {
        margin-left:2rem;
    }
}
@media (max-width: 599px) {
    .wp-block-column {
        margin-bottom: var(--wp--custom--gap--baseline);
    }
} 
*/
/*.wp-block-columns.is-style-thick-padding,
.wp-block-columns.is-style-thick-padding.has-background:not(.alignful) {
	padding: calc(2 * var(--wp--custom--gap--vertical));
}

.wp-block-columns.is-style-regular-padding,
.wp-block-columns.is-style-regular-padding.has-background:not(.alignful) {
	padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);
}

.wp-block-columns.is-style-thin-padding,
.wp-block-columns.is-style-thin-padding.has-background:not(.alignful) {
	padding: var(--wp--custom--gap--baseline);
}*/

/*.wp-block-columns.is-style-no-padding,
.wp-block-columns.is-style-no-padding.has-background:not(.alignful) {
	padding: 0;
}*/

.wp-block-columns.is-style-no-margin,
.wp-block-columns.is-style-no-margin.has-background {
	/*margin: 0;*/ /*Removed 2/15/22*/
	gap: 0 !important;
	margin-top: 0;
	margin-bottom: 0;
	/*padding:0;*/ /*Removed 2/15/22*/
	/*padding-left: 0 !important;*/ /*added 2/15/22*/
	/*padding-right: 0 !important;*/ /*added 2/15/22*/
	/*margin-left: calc(-1 * var(--wp--custom--gap--baseline)) !important;*/ /*Added 2/15/22*/
	/*margin-right: calc(-1 * var(--wp--custom--gap--baseline)) !important;*/ /*Added 2/15/22*/
}

/*:where(.wp-block-columns.has-background) {
        padding:1.25em 2.375em
}*/

@media (max-width: 599px) {
    .wp-block-columns.is-style-no-margin > .wp-block-column,
    .wp-block-column.is-style-no-margin {
		margin-bottom: 0;
	}
}

@media (min-width: 600px) and(max-width: 781px) {
    .wp-block-columns.is-style-no-margin > .wp-block-column:nth-child(2n),
    .wp-block-column.is-style-no-margin:nth-child(2n) {
        margin-left: 0;
        padding-left: var(--wp--custom--gap--horizontal); /* 2em */
        padding-right: var(--wp--custom--gap--horizontal); /* 2em */
    }
}

@media (min-width: 782px) {
	.wp-block-columns.is-style-no-margin > .wp-block-column:not(:first-child),
	.wp-block-column.is-style-no-margin:not(:first-child) {
		margin-left: 0;
	}
}

/*--------------------------------------------------------------
# Column
--------------------------------------------------------------*/
.wp-block-column.is-style-thick-padding,
.wp-block-column.is-style-thick-padding.has-background:not(.alignful) {
	padding: calc(2 * var(--wp--custom--gap--vertical)) calc(2 * var(--wp--custom--gap--horizontal));
}

.wp-block-column.is-style-regular-padding,
.wp-block-column.is-style-regular-padding.has-background:not(.alignful) {
	padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);
}

.wp-block-column.is-style-thin-padding,
.wp-block-column.is-style-thin-padding.has-background:not(.alignful) {
	padding: calc(.5 * var(--wp--custom--gap--vertical)) calc(.5 * var(--wp--custom--gap--horizontal));
}

.wp-block-column.is-style-column-rounded-border {
	border: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-radius: var(--wp--custom--border--radius)
}

/*--------------------------------------------------------------
# Site Title and Tagline
--------------------------------------------------------------*/
/*.wp-block-site-title.is-style-plain-title,
.wp-block-site-tagline.is-style-plain-title {
}*/

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/

.is-style-image-no-border,
/*.wp-block-image.is-style-image-no-border img,*/
.wp-block-post-featured-image.is-style-image-no-border img {	
	border: none;
}

.wp-block-image.is-style-image-border img {
	padding: var(--wp--custom--border--radius);
	border: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-radius: var(--wp--custom--border--radius);
}

.wp-block-image.is-style-image-round-border img {
	padding: var(--wp--custom--border--radius);
	border: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-radius: 50%;
}

.wp-block-image.is-style-image-computer-screen img {
	border: var(--wp--custom--gap--horizontal) var(--wp--custom--border--style) var(--wp--preset--color--notquiteblack);
	border-radius: var(--wp--custom--gap--baseline);
	border-bottom: var(--wp--custom--border--normal) var(--wp--custom--border--style) var(--wp--preset--color--notquiteblack);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.wp-block-image.is-style-image-computer-screen figcaption {
	/*margin-top: calc(-1 * var(--wp--custom--gap--vertical));
	margin-bottom: 0;*/
	display: none;
}


/*.wp-block-image.is-style-image-frame img {
	padding: var(--wp--custom--gap--baseline);
}*/

/*--------------------------------------------------------------
# Featured Images (post / page "thumbnails")
--------------------------------------------------------------*/
.wp-block-post-featured-image.is-style-image-no-border img {
	padding: none;
	border: none;
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul.is-style-list-checkmarks li:before,
ol.is-style-list-checkmarks li:before {
	font-family: dashicons;
	vertical-align: top;
	padding-right: calc(.25 * var(--wp--custom--gap--baseline));
}

.rtl ul.is-style-list-checkmarks li:before,
.rtl ol.is-style-list-checkmarks li:before {
	padding-right: 0;
	padding-left: calc(.25 * var(--wp--custom--gap--baseline));
}

ul.is-style-list-checkmarks,
ol.is-style-list-checkmarks {
	list-style: none;
	padding-left: calc(.5 * var(--wp--custom--list--spacing--padding--left))
}

/* dashicons-saved */
ul.is-style-list-checkmarks li:before,
ol.is-style-list-checkmarks li:before {
	content: "\f15e";
	font-size: 1.1em;
}

ul.is-style-list-plain,
ol.is-style-list-plain {
	list-style: none;
	/*padding-left: 0;*/
	/*margin-bottom: calc(0.5 * var(--wp--custom--gap--baseline));*/
}

ul.is-style-list-plain-centered,
ol.is-style-list-plain-centered {
	list-style: none;
	text-align: center;
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
/* dashicons-arrow-down-alt2 */
/* wp-block-post-content is needed for specificity */
p.is-style-arrow-icon-no-text {
	/*visibility: hidden;
	position: absolute;
	top: -999px;*/
	/*text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;*/
    /*text-indent: -9999px;   */
    font-size: 0; /* hide the text */
    /*line-height: 0;*/
}

p.is-style-arrow-icon > a,
p.is-style-arrow-icon > a:hover, 
p.is-style-arrow-icon > a:focus,
p.is-style-arrow-icon > a:active,
p.is-style-arrow-icon-no-text > a,
p.is-style-arrow-icon-no-text > a:hover, 
p.is-style-arrow-icon-no-text > a:focus,
p.is-style-arrow-icon-no-text > a:active {
	display: block;
	text-decoration: none !important;
	outline: none !important;
	text-align: center;
	/*margin: auto;*/
	margin: var(--wp--custom--gap--vertical) auto;
}

p.is-style-arrow-icon > a:after,
p.is-style-arrow-icon-no-text > a:after {
	font-family: dashicons;
	content: "\A \f347 ";
	font-size: var(--wp--preset--font-size--x-large);
	line-height: 1;
}
p.is-style-arrow-icon > a:after {
	white-space: pre-wrap; /* adds line break */
}

/**.is-style-down-arrow-icon {
	visibility: hidden;
	position: absolute;
	top: -999px;*/
	/*display: block;
	font-family: dashicons;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}**/
/*.is-style-down-arrow-icon {
	position: relative;
    top: 1px;
    display: inline-block;
	padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);
}*/

p.is-style-link-underline a,
p.is-style-link-underline a:active {
	text-decoration: underline !important;
}
/*p.is-style-link-underline a:hover {
	text-decoration: none !important;
}*/

p.is-style-link-no-underline a,
p.is-style-link-no-underline a:active {
	text-decoration: none !important;
}
/*p.is-style-link-no-underline a:hover {
	text-decoration: underline !important;
}*/

/*--------------------------------------------------------------
# Latest Posts
--------------------------------------------------------------*/

.wp-block-latest-posts__featured-image img {
	padding: var(--wp--custom--border-radius);
	border: var(--wp--custom--border--thin) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-radius: var(--wp--custom--border-radius);
}

/* Fix non-grid latest post list should have bullets like all ul's */
.wp-block-latest-posts.wp-block-latest-posts__list:not(.is-style-latest-posts-plain):not(.is-grid) {
	list-style: disc;
	padding-left: var(--wp--custom--gap--horizontal); /*40px;*/
}

@media (max-width: 599px) {

	/* Remove extra right margin on columns when collapsed */
	.wp-block-latest-posts.wp-block-latest-posts__list.is-grid li {
		margin-right: 0;
	}
}

/* Latest Posts Dividers */
.wp-block-latest-posts.is-style-latest-posts-dividers {
	padding-top: var(--wp--custom--gap--vertical);
	border-top: var(--wp--custom--border--normal) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	border-bottom: var(--wp--custom--border--normal) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
}

/* Latest Posts Borders */
.wp-block-latest-posts.is-style-latest-posts-borders li {
	border: var(--wp--custom--border--normal) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
	/*padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);*/
	padding: var(--wp--custom--gap--baseline)
}

.wp-block-latest-posts.is-style-latest-posts-borders:not(.is-grid) li {
	/*margin-top: var(--wp--custom--gap--horizontal);
	margin-bottom: var(--wp--custom--gap--horizontal);*/
	margin-top: var(--wp--custom--gap--baseline);
	margin-bottom: var(--wp--custom--gap--baseline);
}

/* Latest Posts Plain */
.wp-block-latest-posts.is-style-latest-posts-plain:not(.is-grid) {
	padding-left: 0;
}

.wp-block-latest-posts.is-style-latest-posts-plain:not(.is-grid) li {
	margin-bottom: calc(0.5 * var(--wp--custom--gap--baseline));
}

.is-style-latest-posts-plain:not(.is-grid) a {
    text-decoration: none;
    /*color: var(--wp--preset--color--default-border);*/
}

.is-style-latest-posts-plain:not(.is-grid) a:hover,
.is-style-latest-posts-plain:not(.is-grid) a:focus { /* Added 6/25/21 */
    text-decoration: underline;
}

/*--------------------------------------------------------------
# Latest Comments
--------------------------------------------------------------*/
/* Set latest comments list (ol's) to match ul lists */
ol.wp-block-latest-comments:not(.is-style-latest-comments-plain) {
    padding-left: var(--wp--custom--gap--horizontal); /* 40px; */
}

ol.wp-block-latest-comments.is-style-latest-comments-plain {
	padding-left: 0 !important;
}

.wp-block-latest-comments__comment {
	list-style: disc;
    line-height: 1.5;
    margin-bottom: 0;
}

.is-style-latest-comments-plain > .wp-block-latest-comments__comment {
	list-style: none;
	margin-bottom: calc(0.5 * var(--wp--custom--gap--baseline));
}

.is-style-latest-comments-plain a {
    text-decoration: none;
    /*color: var(--wp--preset--color--default-border);*/
}

.is-style-latest-comments-plain a:hover,
.is-style-latest-comments-plain a:focus { /* Added 6/25/21 */
    text-decoration: underline;
}

/*--------------------------------------------------------------
# Media & Text
--------------------------------------------------------------*/

.wp-block-media-text.is-style-media-text-border {
	border: var(--wp--custom--border--normal) var(--wp--custom--border--style) var(--wp--preset--color--default-border);
}

/*--------------------------------------------------------------
# Separator (hr) - MOVED TO BLOCKS.CSS SINCE WIDE AND DOTS ARE WP CORE
--------------------------------------------------------------*/
/*hr.wp-block-separator:not(.is-style-wide):not(.alignwide) {
	max-width: var(--wp--custom--width--default);
	max-width: var(--responsive--aligndefault-width);
}

hr.wp-block-separator.is-style-wide {
	max-width: var(--wp--custom--width--wide) !important;
	max-width: var(--responsive--alignwide-width) !important;
}



hr.wp-block-separator:not(.is-style-dots).alignwide {
	max-width: var(--wp--custom--width--wide);
	max-width: var(--responsive--alignwide-width);
}

hr.wp-block-separator:not(.is-style-dots).alignfull {
	max-width: var(--wp--custom--width--wide);
	max-width: var(--responsive--alignfull-width);
}*/

/*--------------------------------------------------------------
# Separator
--------------------------------------------------------------*/

hr.is-style-separator-thick,
.wp-block-separator.is-style-separator-thick {
	border-bottom-width: var(--wp--custom--border--normal);
}

/*.wp-block-separator.is-style-dots {
	border-bottom: none;
}

.wp-block-separator.is-style-dots > hr {
	display: none;
}*/

/*--------------------------------------------------------------
# Dashicons for theme templates
--------------------------------------------------------------*/
/* TO-DO: BLOCKBASE NOW USES SVG'S FOR THIS, SO DECIDE WHETHER TO USE THOSE OR
	OR STILL USE DASHICONS SO THAT MORE ICONS ARE AVAILABLE TO THE USER.
*/
.wp-block-post-author:not(.is-style-no-icon):before,
.wp-block-post-date:not(.is-style-no-icon):before,
/*.wp-block-post-terms:not(.is-style-no-icon-tags):before,
.wp-block-post-terms:not(.is-style-no-icon-cats):before,*/
.wp-block-post-terms:not(.is-style-no-icon):before,
.wp-block-post-comments-count:not(.is-style-no-icon):before {	
	font-family: dashicons;
	vertical-align: top;
	padding-right: calc(.25 * var(--wp--custom--gap--baseline));
}

.rtl .wp-block-post-author:not(.is-style-no-icon):before,
.rtl .wp-block-post-date:not(.is-style-no-icon):before,
/*.rtl .wp-block-post-terms:not(.is-style-no-icon-tags):before,
.rtl .wp-block-post-terms:not(.is-style-no-icon-cats):before,*/
.rtl .wp-block-post-terms:not(.is-style-no-icon):before,
.rtl .wp-block-post-comments-count:not(.is-style-no-icon):before {
	padding-right: 0;
	padding-left: calc(.25 * var(--wp--custom--gap--baseline));
}

/* dashicons-admin-users */
.wp-block-post-author:not(.is-style-no-icon):before {
	content: "\f110";
}

/* dashicons-calendar-alt */
.wp-block-post-date:not(.is-style-no-icon):before {
	content: "\f508";
}

/* dashicons-tag */
.wp-block-post-terms.taxonomy-category:not(.is-style-no-icon):before {
	content: "\f318";
}

/* dashicons-category */
.wp-block-post-terms.taxonomy-post_tag:not(.is-style-no-icon):before {
	content: "\f323";
}

/* dashicons-admin-comments for comments count */
.wp-block-post-comments-count:not(.is-style-no-icon):before {
	content: "\f101";
}

/* Add the word Comment(s) to the end of the comments count*/
.wp-block-post-comments-count:not(.is-style-no-icon):after {
	content: " Comment(s)";
}
