/**
 * Theme:	Flat Blocks
 * File:	custom-sticky.css
 * 
 * The stylesheet for our theme's custom sticky header and menu.
 * Note: This is a separate file from the main custom-styles.css file because it should
 * ONLY be loaded when sticky header or menu are used.
 *
 * @package flat-blocks
 */

/*--------------------------------------------------------------
# Cover
--------------------------------------------------------------*/

/*Make Header Sticky*/
/*.wp-site-blocks .site-header {*/
/*.site-header.is-style-sticky-menu {*/
header.wp-block-template-part.is-style-sticky-header {
    position: fixed;
    top: 0;
    left: var(--wp--custom--gap--horizontal);
    right: var(--wp--custom--gap--horizontal);
    z-index: 10;
    height: 63px;
}

/*Adjust Content Padding*/
/*.wp-site-blocks {*/
/*header div.site-header.is-style-sticky-menu + #page-content {*/
/*header.wp-block-template-part.is-style-sticky-header + #page-content {*/
header.wp-block-template-part.is-style-sticky-header + * {
    padding-top: 63px;
}

/*Adjust Content Padding for tablet*/
/*@media (max-width: 800px) {
    .wp-sitle-blocks {
        padding-top: 126px;
    }
}*/

/*Adjust Content Padding for mobile*/
/*@media (max-width: 650px) {
    .wp-sitle-blocks {
        padding-top: 153px;
    }
}*/