/**
 * Theme:	Flat Blocks
 * File:	theme.css
 * 
 * The main stylesheet for our theme
 *
 * @package flat-blocks
 */

@charset "UTF-8";

/*--------------------------------------------------------------
# OVERRIDES TO PONYFILL.CSS FROM BLOCKBASE THEME
--------------------------------------------------------------*/

/* TO-DO: STILL NEED TO DECIDE ON PRESET OR CUSTOM COLORS IN PONYFILL */
.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align=full] {
  margin-top: var(--wp--custom--gap--group);
}

.wp-site-blocks .wp-block-cover {
  margin-left: calc(-1 * var(--wp--custom--gap--horizontal)) !important;
  margin-right: calc(-1 * var(--wp--custom--gap--horizontal)) !important;
  max-width: unset;
  width: unset;
}

.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align=full],
.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align=full] > *:not(.wp-block-group) .wp-block[data-align=full] {
  margin-top: var(--wp--custom--gap--group);
}

.wp-site-blocks .site-header .wp-block-navigation__responsive-container-content {
  gap: var(--wp--style--block-gap, 2em);
}

a,
.wp-block-post a {
  text-decoration-line: var(--wp--custom--link--typography--text-decoration); 
  -webkit-text-decoration-line: var(--wp--custom--link--typography--text-decoration);
}

a:hover, 
a:focus {
  /*-webkit-text-decoration-line: var(--wp--custom--hover--typography--text-decoration, none);*/ /*underline;*/
    /*text-decoration-line: var(--wp--custom--hover--typography--text-decoration, none);*/ /*underline;*/
  text-decoration-line: var(--wp--custom--hover--typography--text-decoration); 
  -webkit-text-decoration-line: var(--wp--custom--hover--typography--text-decoration);
}

main.block-editor-block-list__layout a:hover, main.block-editor-block-list__layout a:focus,
.wp-block-post a:hover,
.wp-block-post a:focus {
  /*text-decoration: var(--wp--custom--hover--typography--text-decoration, underline);*/
  text-decoration-line: var(--wp--custom--hover--typography--text-decoration);
  -webkit-text-decoration-line: var(--wp--custom--hover--typography--text-decoration);
}

.wp-block-button.wp-block-button__link:hover, 
.wp-block-button.wp-block-button__link:focus, 
.wp-block-button.wp-block-button__link.has-focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link.has-focus, 
.wp-block-button__link.wp-block-button__link:hover, 
.wp-block-button__link.wp-block-button__link:focus, 
.wp-block-button__link.wp-block-button__link.has-focus,
.wp-block-button__link .wp-block-button__link:hover,
.wp-block-button__link .wp-block-button__link:focus,
.wp-block-button__link .wp-block-button__link.has-focus {
  filter: brightness(85%);
}

.wp-block-button.is-style-outline.wp-block-button__link:hover, 
.wp-block-button.is-style-outline.wp-block-button__link:focus, 
.wp-block-button.is-style-outline.wp-block-button__link.has-focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link.has-focus, 
.wp-block-button__link.is-style-outline.wp-block-button__link:hover, 
.wp-block-button__link.is-style-outline.wp-block-button__link:focus, 
.wp-block-button__link.is-style-outline.wp-block-button__link.has-focus,
.wp-block-button__link.is-style-outline .wp-block-button__link:hover,
.wp-block-button__link.is-style-outline .wp-block-button__link:focus,
.wp-block-button__link.is-style-outline .wp-block-button__link.has-focus {
  filter: brightness(85%);
}

ul,
ol {
  padding-left: var(--wp--custom--list--spacing--padding--left);
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
  border-radius: var(--wp--custom--navigation--submenu--border--radius);
}

.wp-block-navigation.is-responsive .is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
  font-size: var(--wp--custom--navigation--typography--font-size);
}

.wp-block-navigation.blockbase-responsive-navigation-minimal.is-responsive .is-menu-open.wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
  font-size: var(--wp--custom--navigation--typography--font-size);
}

.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-pages-list__item,
.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-navigation-item {
  font-size: var(--wp--custom--navigation--typography--font-size);
}

.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-pages-list__item.has-child .wp-block-navigation__submenu-container .wp-block-pages-list__item__link,
.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-pages-list__item.has-child .wp-block-navigation__submenu-container .wp-block-navigation-item__content,
.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container .wp-block-pages-list__item__link,
.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  font-size: var(--wp--preset--font-size--small);
}

.wp-block-post-comments .commentlist .comment p {
  margin-bottom: inherit;
  margin-top: inherit;
}

.wp-block-file .wp-block-file__button:hover, 
.wp-block-file .wp-block-file__button:focus, 
.wp-block-file .wp-block-file__button.has-focus {
	filter: brightness(85%)
}

.has-primary-background-color {
  background-color: var(--wp--preset--color--primary) !important;
}

.has-secondary-background-color {
  background-color: var(--wp--preset--color--secondary) !important;
}

.has-foreground-background-color {
  background-color: var(--wp--preset--color--foreground) !important;
}

.has-background-background-color {
  background-color: var(--wp--preset--color--background) !important;
}

.has-tertiary-background-color {
  background-color: var(--wp--preset--color--tertiary) !important;
}

.has-primary-color {
  color: var(--wp--preset--color--primary) !important;
}

.has-secondary-color {
  color: var(--wp--preset--color--secondary) !important;
}

.has-foreground-color {
  color: var(--wp--preset--color--foreground) !important;
}

.has-background-color {
  color: var(--wp--preset--color--background) !important;
}

.has-tertiary-color {
  color: var(--wp--preset--color--tertiary) !important;
}

.wp-block-calendar table caption {
  color: var(--wp--preset--color--primary);
}
.wp-block-calendar table th {
  background-color: var(--wp--preset--color--tertiary);
  border-color: var(--wp--preset--color--tertiary);
}
.wp-block-calendar table td {
  color: var(--wp--preset--color--primary);
  border-color: var(--wp--preset--color--tertiary);
}

.wp-block-navigation.is-responsive:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--foreground);
}

.wp-block-navigation.blockbase-responsive-navigation-linear .wp-block-pages-list__item .wp-block-pages-list__item__link,
.wp-block-navigation.blockbase-responsive-navigation-linear .wp-block-navigation-link__content {
  color: var(--wp--preset--color--foreground);
}

.wp-block-navigation.blockbase-responsive-navigation-linear:not(.has-background) .wp-block-navigation__submenu-container {
  background-color: var(--wp--preset--color--background);
  border-color: var(--wp--preset--color--tertiary);
}
.wp-block-navigation.blockbase-responsive-navigation-linear .wp-block-navigation__mobile-menu-open-button {
  color: var(--wp--preset--color--primary);
}
.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--tertiary);
}

.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-pages-list__item.has-child .wp-block-navigation__submenu-container,
.wp-block-navigation.blockbase-responsive-navigation-linear.is-responsive .wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container {
  border-right: 1px solid var(--wp--preset--color--foreground);
}

.wp-block-post-comments form input:not([type=submit]):not([type=checkbox]),
.wp-block-post-comments form textarea {
  font-size: var(--wp--preset--font-size--normal);
  background: var(--wp--preset--color--background);
}

.wp-block-pullquote.is-style-solid-color.is-style-solid-color,
.wp-block-pullquote.is-style-solid-color {
  background-color: var(--wp--preset--color--foreground);
  color: var(--wp--preset--color--background);
}

.wp-block-table.is-style-stripes figcaption,
.wp-block-table figcaption {
  color: var(--wp--preset--color--primary);
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: var(--wp--preset--color--tertiary);
}

/* Header group already has padding so don't add a bunch to the logo */
@media (max-width: 599px) {
  .wp-site-blocks .site-header .wp-block-site-logo {
    margin-top: 0; /*var(--wp--custom--gap--vertical);*/
    margin-bottom: 0; /*calc(2 * var(--wp--custom--gap--vertical));*/
  }
}

div.wp-block-query-pagination .wp-block-query-pagination-numbers .current {
  text-decoration: none; /*underline;*/
}

/*--------------------------------------------------------------
# OUR THEME CSS STYLES
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# html
--------------------------------------------------------------*/
/*html {
	font-size: var(--wp--custom--body--typography--font-size);*/ /*18px;*/ /* Establishes 1em */
/*}*/

/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
	-webkit-text-size-adjust: 100%
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
/* Don't let anything be wider than our max width. This is so fullwidth images don't
 * get so wide they lose resolution
 */
body {
	max-width: var(--wp--custom--layout--full-size);
	margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/* Don't let anything within alignfull be wider than alignwide. This is because 
 * WordPress core doesn't have any width constraint and paragraphs will be crazy wide
 * and break the page layout.
 */
.alignwide,
.alignfull:not(.wp-block-cover) > *:not(.alignfull):not(aligndefault):not(img):not(.wp-block-columns.is-style-no-margin):not(.wp-block-cover__inner-container):not(.wp-block-cover__background),
.alignfull.wp-block-cover > .wp-block-cover__inner-container > *:not(img) {
	max-width: var(--wp--custom--layout--wide-size);
	/*padding-left: var(--wp--custom--gap--horizontal);
  	padding-right: var(--wp--custom--gap--horizontal);*/
	margin-left: auto;
    margin-right: auto;
}

.alignfull > .alignfull > *:not(img):not(.wp-block-columns.is-style-no-margin):not(.wp-block-cover__inner-container):not(.wp-block-cover__background) {
	max-width: var(--wp--custom--layout--wide-size);
	margin-left: auto;
    margin-right: auto;
}

/**
 * Block editor adds --wp--style--block-gap and we use padding within blocks instead
 */
/**.wp-block-group,
.wp-block-template-part,
.wp-block-cover {**/
.wp-block-template-part {
	/*margin-top: 0 !important;
	margin-bottom: 0 !important;*/
	margin: 0;
	padding: 0;
	border: none;
}

/* Constrain content narrow unless wide or full */
aligndefault,
.wp-block-post-content:not(.alignwide):not:(.alignfull) {
	max-width: var(--wp--custom--layout--content-size);
	margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Main Content (Pages and Posts)
--------------------------------------------------------------*/
/* First add top and bottom margin to main content */
/*.main-content {
	margin-top: var(--wp--custom--gap--baseline);
	margin-bottom: var(--wp--custom--gap--baseline);
}*/

/* Then add first and last element margins */
/*.main-content > *:first-child:not(.wp-block-cover) {
	margin-top: var(--wp--custom--gap--baseline);
}
.main-content > *:last-child {
	margin-bottom: var(--wp--custom--gap--baseline);
}*/

/*--------------------------------------------------------------
# Clear floats
--------------------------------------------------------------*/
.wp-block-group:after,
.wp-block-post-comments > .navigation:after,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*--------------------------------------------------------------
# Post Content
--------------------------------------------------------------*/
/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */
.wp-block-post-content p.wp-block.wp-block-paragraph,
.wp-block-post-content *[class^=wp-container] > * + p,
.wp-block-post-content *[class^=wp-container] > p + *,
.wp-block-post-content p {
  margin-top: var(--wp--custom--gap--baseline);
}

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */

/* Make sure images are scaled correctly. */
/* Adhere to container width. */
img {
  height: auto;
  max-width: 100%;
}

/* Images should fill the space available */
.wp-block-image.alignfull > img,
.wp-block-cover, 
.wp-block-cover-image,
.wp-block-cover img {
	width: 100%; /*100vw;*/
}

/*--------------------------------------------------------------
# Groups
--------------------------------------------------------------*/
/* Leave this until WordPress core or Blockbase supports blockGap setting on Groups */
/**.wp-block-group {**/
	/**--wp--style--block-gap: var(--wp--custom--gap--group);**/
	/*gap: var(--wp--custom--gap--group) !important*/
	/**margin-top: var(--wp--custom--gap--group) !important;
}**/

/* Remove first and last element margins */
.wp-block-group:not(.is-style-no-padding) > *:first-child {
	margin-top: 0 !important;
}
.wp-block-group:not(.is-style-no-padding) > *:last-child {
	margin-bottom: 0 !important;
}

/*.wp-block-group:not(.is-style-no-padding) > *:first-child {
	margin-top: 0;
}
.wp-block-group:not(.is-style-no-padding) > *:last-child {
	margin-bottom: 0;
}*/

/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
/* This shouldn't be needed, but there is some bug in WordPress */
.wp-block-columns {
	gap: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);
	/*gap: var(--wp--custom--gap--baseline);*/
	/*--wp--style--block-gap: var(--wp--custom--gap--horizontal);*/
}

/* Leave this until WordPress core or Blockbase supports blockGap setting on Columns */
/*.wp-block-columns {
	--wp--style--block-gap: var(--wp--custom--gap--horizontal);*/
	/*gap: var(--wp--custom--gap--horizontal) !important*/
	/*gap: var(--wp--custom--columns--spacing--block-gap) !important*/
/*}*/

/* Remove first and last element margins but not on mobile */
/**@media screen and (min-width: 783px) {
	.wp-block-column:not(.is-style-no-padding) > *:first-child {
		margin-top: 0;
	}
	.wp-block-column:not(.is-style-no-padding) > *:last-child {
		margin-bottom: 0;
	}
}**/


/*--------------------------------------------------------------
# Queries
--------------------------------------------------------------*/
/* Doesn't work: they use ems that are hard-coded */
/*.wp-block-post-template.is-flex-container, 
.wp-block-query-loop.is-flex-container {
	gap: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);
	--wp--style--block-gap: var(--wp--custom--gap--horizontal);	
}*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/* Leave this until WordPress core or Blockbase supports blockGap setting on Groups */
/**.wp-block-navigation {**/
	/*--wp--style--block-gap: var(--wp--custom--navigation--spacing--block-gap);
	gap: var(--wp--custom--navigation--spacing--block-gap) !important*/
	/**--wp--style--block-gap: var(--wp--custom--gap--baseline);
}**/

/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    padding-top: var(--wp--custom--gap--baseline);
}

.wp-block-navigation__responsive-container.is-menu-open {
    padding: var(--wp--custom--gap--baseline);
}

/* Adjust mobile menu top padding so its underneath the WordPress admin bar */
/*.admin-bar .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
		padding-top: calc(46px + var(--wp--custom--gap--baseline));
}*/
.admin-bar .wp-block-navigation__responsive-container.is-menu-open {
	padding-top: calc(46px + var(--wp--custom--gap--baseline));
}
/*@media screen and (min-width: 783px) {*/
	/*.admin-bar .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
			padding-top: calc(32px + var(--wp--custom--gap--baseline));
	}
	.admin-bar .wp-block-navigation__responsive-container.is-menu-open {
			padding-top: calc(32px + var(--wp--custom--gap--baseline));
	}*/
/*}*/

/*#wpadminbar {
	flex-wrap: nowrap;
}*/

/* Prevent secondary admin bar from covering header. This really should be a fix to WordPress itself */
@media screen and (max-width: 600px) {
	.ab-top-secondary ab-top-menu {
		display:none;
	}
}

.wp-block-navigation .wp-block-navigation-item__content {
    text-transform: inherit;
    font-weight: inherit;
}

/* Fix nav submenu colors */
/*.wp-block-navigation.is-responsive:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--custom--navigation--submenu--color--background);
  color: var(--wp--custom--navigation--submenu--color--text);
}*/

/* Fix nav submenus when colored in the block editor */
.wp-block-navigation .has-child .wp-block-navigation__submenu-container a {
  /*color: var(--wp--custom--navigation--submenu--color--text);*/
  color: inherit;
}

/* Fix the mobile nav menu button color (use header colors) */
.wp-block-navigation .wp-block-navigation__responsive-container-open {
	/*color: var(--wp--custom--navigation--submenu--color--background);
	background-color: var(--wp--custom--navigation--submenu--color--text);*/
	/*background-color: var(--wp--preset--color--header);
	color: var(--wp--preset--color--header-text);*/
	/* Invert header colors */
	background-color: var(--wp--preset--color--header-link);
	color: var(--wp--preset--color--header);
}

/* Fix the close button (X) to the same place as the open button */
.wp-block-navigation.is-responsive .wp-block-navigation__responsive-container-close {
  right: 8px;
  top: 10px;
}

/*.wp-block-navigation-submenu__toggle {
    font-weight: var(--wp--custom--navigation--typography--font-weight);
}*/

/* Add padding to the mobile nav menu button */
.wp-block-navigation .wp-block-navigation__responsive-container-open {
	padding: calc(0.25 * var(--wp--custom--gap--baseline));
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
/* Leave this until WordPress core or Blockbase supports blockGap setting on Groups */
/**.wp-block-buttons {**/
	/*--wp--style--block-gap: var(--wp--custom--navigation--spacing--block-gap);
	gap: var(--wp--custom--navigation--spacing--block-gap) !important*/
	/**--wp--style--block-gap: var(--wp--custom--gap--baseline);
}**/

/* Fix for comment submit button */
/*.wp-block-post-comments form p {*/
.form-submit.wp-block-button {
  margin-bottom: 0;
}

/* Prevent iOS from rounding buttons */
input:not([type="radio"]):not([type="checkbox"]) {
    -webkit-appearance: none;
    border-radius: 0;
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */
.post-comments:empty,
.post-comments > *:empty {
	display: none;
}

/* Fix this so its not pulled outside the container */
.wp-block-post-comments .comment-meta {
	/*font-size: .875em;
	line-height: 1.5;*/
	margin-left: 0; /*-3.25em*/
}

/* Get rid of the extra space at the top */
#respond > *:first-child {
	margin-top: 0;
}


/*--------------------------------------------------------------
# Site Logo
--------------------------------------------------------------*/
@media (max-width: 599px) {
  /*.wp-site-blocks .site-header .site-brand {
    display: contents;
  }*/
  .wp-site-blocks .site-header .wp-block-site-logo {
    flex-basis: auto;
    margin-bottom: 0;
    margin-top: 0;
    /*text-align: reset;*/
  }
}

/*--------------------------------------------------------------
# Author Bio
--------------------------------------------------------------*/
/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */
.wp-block-post-author__bio {
	font-size: var(--wp--preset--font-size--small);
}

/*--------------------------------------------------------------
# Custom User Page/Post Titles w/Excerpt
--------------------------------------------------------------*/
header.entry-header .wp-block-post-excerpt__excerpt .read-more {
	display: none;
}
header.entry-header .wp-block-post-excerpt__excerpt {
	margin-bottom: 0;
	/*white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;*/
}


.wp-block-query-pagination-numbers .page-numbers {
	padding: calc(0.25 * var(--wp--custom--gap--baseline)) calc(0.5 * var(--wp--custom--gap--baseline));
}

.wp-block-query-pagination-numbers .page-numbers.current {
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--primary-text);
	border-radius: var(--wp--custom--border--radius);
}

/*
			"border": {
				"padding": "5px",
				"radius": "5px",
				"style": "solid",
				"none": "0px",
				"thin": "1px",
				"normal": "3px",
				"thick": "6px"
			},
*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */
p.has-background {
	padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal); /*1.25em 2.375em*/
}

/* Fix blocks adding top margin to a spacer */
/*.wp-block-spacer {
	margin-top: 0 !important;
}*/

.wp-block-term-description > p {
	margin-bottom: 0;
}

ol.has-background, 
ul.has-background {
	/*padding: var(--wp--custom--gap--vertical) var(--wp--custom--gap--horizontal);*/
	padding: var(--wp--custom--gap--baseline);
}

/* Fix separator dots so they are centered */
/*.wp-block-separator.is-style-dots:before {
	padding-left: 0;
}*/

/*--------------------------------------------------------------
# Social Link Icons
--------------------------------------------------------------*/
/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */
/*.wp-block-social-links.has-small-icon-size {
    font-size: var(--wp--preset--font-size--normal, 16px);
}

.wp-block-social-links, .wp-block-social-links.has-normal-icon-size {
    font-size: var(--wp--preset--font-size--medium, 24px);
}

.wp-block-social-links.has-large-icon-size {
    font-size: var(--wp--preset--font-size--x-large, 36px);
}

.wp-block-social-links.has-huge-icon-size {
    font-size: var(--wp--preset--font-size--huge, 48px);
}*/


/*--------------------------------------------------------------
# Dashicons
--------------------------------------------------------------*/

/* Fix hard-coded width and height so can use different font sizes */
.dashicons, 
.dashicons-before:before {
	width: auto !important;
	height: auto !important;
}
