/**
 * Theme:	Flat Blocks
 * File:	theme.css
 * 
 * The main stylesheet for our theme
 *
 * @package flat-blocks
 */

@charset "UTF-8";

/**
 * Block editor adds --wp--style--block-gap and we use padding within blocks instead
 */
/**.wp-block-group,
.wp-block-template-part,
.wp-block-cover {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}**/

/* Don't let anything be wider than our max width. This is so fullwidth images don't
 * get so wide they lose resolution
 */
.body {
	font-size: var(--wp--preset--font-size--normal); /* Establishes 1em */
	max-width: var(--wp--custom--layout--full-size);
	margin-left: auto;
    margin-right: auto;
}

/* Don't let anything within alignfull be wider than alignwide. This is because 
 * WordPress core doesn't have any width constraint and paragraphs will be crazy wide
 * and break the page layout.
 */
.alignwide,
.alignfull:not(.wp-block-cover) > *:not(.alignfull):not(img):not(.wp-block-columns.is-style-no-margin):not(.wp-block-cover__inner-container) {
	max-width: var(--wp--custom--layout--wide-size);
	/*padding-left: var(--wp--custom--gap--horizontal);
  	padding-right: var(--wp--custom--gap--horizontal);*/
	margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
/* These fixes should actually be submitted to the blockbase theme (ponyfill.css) */

/* Make sure images are scaled correctly. */
/* Adhere to container width. */
img {
  height: auto;
  max-width: 100%;
}

/* Images should fill the space available */
.wp-block-image.alignfull > img,
.wp-block-cover, 
.wp-block-cover-image,
.wp-block-cover img {
	width: 100%; /*100vw;*/
}

.wp-block-group:not(.is-style-no-padding) > p:first-child {
	margin-top: 0;
}
.wp-block-group:not(.is-style-no-padding) > p:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Groups
--------------------------------------------------------------*/
/* Leave this until WordPress core or Blockbase supports blockGap setting on Groups */
.wp-block-group {
	--wp--style--block-gap: var(--wp--custom--gap--group);
	/*gap: var(--wp--custom--gap--group) !important*/
}

/* Remove first and last element margins */
/*.wp-block-group:not(.is-style-no-padding) > *:first-child {
	margin-top: 0;
}
.wp-block-group:not(.is-style-no-padding) > *:last-child {
	margin-bottom: 0;
}*/

/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
/* Leave this until WordPress core or Blockbase supports blockGap setting on Groups */
.wp-block-columns {
	--wp--style--block-gap: var(--wp--custom--gap--horizontal);
	/*gap: var(--wp--custom--gap--horizontal) !important*/
	/*gap: var(--wp--custom--columns--spacing--block-gap) !important*/
}

/* Remove first and last element margins */
.wp-block-column:not(.is-style-no-padding) > *:first-child {
	margin-top: 0;
}
.wp-block-column:not(.is-style-no-padding) > *:last-child {
	margin-bottom: 0;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/* Leave this until WordPress core or Blockbase supports blockGap setting on Groups */
.wp-block-navigation {
	/*--wp--style--block-gap: var(--wp--custom--navigation--spacing--block-gap);
	gap: var(--wp--custom--navigation--spacing--block-gap) !important*/
	--wp--style--block-gap: var(--wp--custom--gap--baseline);
}

/*--------------------------------------------------------------
# Dashicons
--------------------------------------------------------------*/

/* Fix hard-coded width and height so can use different font sizes */
.dashicons, 
.dashicons-before:before {
	width: auto !important;
	height: auto !important;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/* This fix should actually be submitted to the blockbase theme (ponyfill.css) */
.wp-block-navigation .wp-block-navigation-item__content {
    text-transform: inherit;
}
