/*--------------------------------------------------------------
# PRO Dashicon Styles
--------------------------------------------------------------*/

// /* Override dashicons default centering to match the text */
// .dashicons,
// [class*=dashicons-] {
// 	//font-family: dashicons;	
// 
// 	&.has-text-align-center {
// 		text-align: center;
// 		justify-content: center;
// 	}
// 	&.has-text-align-left {
// 		text-align: left;
// 		justify-content: left;
// 	}
// 	&.has-text-align-right {
// 		text-align: right;
// 		justify-content: right;
// 	}	
// }

/* Add a new Dashicons Above class */
.dashicons-above {
	//display: block;
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--30);

	&:before {
		//display: block;
		text-align: center;
		//vertical-align: middle;
	}	
}

/* Add a new Dashicons Below class */
.dashicons-below {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--30);
	
	&:before {
		order: 2;
		text-align: center;
		//vertical-align: middle;
	}	
}

/* Add a new Dashicons Medium size class */
.wp-site-blocks .dashicons-medium:before,
.wp-site-blocks .dashicons-medium:after {
	font-size: 1.25em;
	vertical-align: middle;
}

/* Add a new Dashicons Large size class */
.wp-site-blocks .dashicons-large:before,
.wp-site-blocks .dashicons-large:after {
	font-size: 1.5em;
	vertical-align: middle;
}

