<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"header","align":"full","style":{"color":{"link":"var:preset|color|title-link"},"elements":{"link":{"color":{"text":"var:preset|color|title-link"}}}},"backgroundColor":"title","textColor":"title-text","className":"entry-header","layout":{"inherit":true}} -->
<header class="wp-block-group alignfull entry-header has-title-text-color has-title-background-color has-text-color has-background has-link-color" id="page" style="--wp--style--color--link:var(--wp--preset--color--title-link)"><!-- wp:group {"align":"wide","className":"is-style-no-padding"} -->
<div class="wp-block-group alignwide is-style-no-padding"><!-- wp:heading {"level":1,"align":"wide","className":"entry-title wp-block-post-title"} -->
<h1 class="alignwide entry-title wp-block-post-title" id="oops-that-page-can-t-be-found">Oops! That page can’t be found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"className":"page-description wp-block-term-description","fontSize":"large"} -->
<p class="page-description wp-block-term-description has-large-font-size">Or as techies would say, its a "404 Error"'</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full","className":"is-style-no-padding page-content type-page template-404"} -->
<main class="wp-block-group alignfull is-style-no-padding page-content type-page template-404" id="page-content"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"className":"not-found default-max-width","layout":{"inherit":true}} -->
<div class="wp-block-group not-found default-max-width" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>It looks like nothing was found at this location. Maybe try a search or one of the links below?</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"content-sitemap"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->