<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"header","align":"full","style":{"color":{"link":"var:preset|color|title-link"},"elements":{"link":{"color":{"text":"var:preset|color|title-link"}}}},"backgroundColor":"title","textColor":"title-text","className":"entry-header","layout":{"inherit":true}} -->
<header class="wp-block-group alignfull entry-header has-title-text-color has-title-background-color has-text-color has-background has-link-color" id="page" style="--wp--style--color--link:var(--wp--preset--color--title-link)"><!-- wp:group {"align":"wide","className":"is-style-no-padding"} -->
<div class="wp-block-group alignwide is-style-no-padding"><!-- wp:query-title {"type":"archive","align":"wide","className":"entry-title"} /-->

<!-- wp:term-description {"className":"page-description has-large-font-size"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"is-style-no-padding page-content type-blog template-archive"} -->
<main id="page-content" class="wp-block-group is-style-no-padding page-content type-blog template-archive">
<!-- wp:template-part {"slug":"query-loop"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->