<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:template-part {"slug":"title-post-page"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-padding page-content type-page template-page-sidebar"} -->
<main id="page-content" class="wp-block-group is-style-no-padding page-content type-page template-page-sidebar">

	<!-- wp:columns {"align":"wide","className":"main-content","style":{"spacing":{"blockGap":"36px"}},"layout":{"inherit":false}} -->
	<div class="wp-block-columns alignwide main-content" style="gap:36px">

		<!-- wp:column {"width":"66.66%"} -->
		<div class="wp-block-column" style="flex-basis:66.66%">
			<!-- wp:post-content /-->
			<!-- wp:template-part {"slug":"comments"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"33.33%"} -->
		<div class="wp-block-column" style="flex-basis:33.33%">
			<!-- wp:template-part {"slug":"sidebar"} /-->
			</div>
		<!-- /wp:column -->
		</div>

	<!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
