<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-no-padding page-content type-post template-single-notitle"} -->
<main id="page-content" class="wp-block-group is-style-no-padding page-content type-post template-single-notitle">

	<!-- wp:post-content {"class":"is-style-no-padding", "layout":{"inherit":true}} /-->
	<!-- wp:template-part {"slug":"post-top-meta"} /-->
	<!-- wp:template-part {"slug":"post-bottom-meta"} /-->
	<!-- wp:template-part {"slug":"comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
