/*!**********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/post-author-name.scss ***!
  \**********************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Author Name
-----------------------------------------------------------------------------*/
.wp-block-post-author-name:before {
  content: "";
  background-color: currentColor;
  display: inline-flex;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  position: relative;
  top: -2px;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.wp-block-post-author-name:before {
  -webkit-mask-image: url(../../icons/admin-users.svg);
          mask-image: url(../../icons/admin-users.svg);
  margin-left: 0.15em;
}
