/*!************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/post-comments-link.scss ***!
  \************************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Comments Link (Only w/WordPress v6.9+ or Gutenberg Plugin)
-----------------------------------------------------------------------------*/
.wp-block-post-comments-link:before {
  content: "";
  background-color: currentColor;
  display: inline-flex;
  align-self: center;
  position: relative;
  top: -2px;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.wp-block-post-comments-link:before {
  -webkit-mask-image: url(../../icons/admin-comments.svg);
          mask-image: url(../../icons/admin-comments.svg);
  margin-left: 0.15em;
}

/*-----------------------------------------------------------------------------
# Comments Link: Custom
-----------------------------------------------------------------------------*/
/* Inactive Link */
.is-style-link-inactive {
  cursor: text;
}

.is-style-link-inactive a {
  color: inherit;
  text-decoration: none;
  pointer-events: none;
}
