/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/post-comments-count.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Comments Count (Only w/WordPress v6.9+ or Gutenberg Plugin)
-----------------------------------------------------------------------------*/
.wp-block-post-comments-count:before {
  content: "";
  background-color: currentColor;
  display: inline-flex;
  align-self: center;
  position: relative;
  top: -2px;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.wp-block-post-comments-count:before {
  -webkit-mask-image: url(../../icons/admin-comments.svg);
          mask-image: url(../../icons/admin-comments.svg);
  margin-left: 0.15em;
}

/* Add word "comment(s)" after post comment count */
.wp-block-post-comments-count:after {
  content: "comment(s)";
  margin-right: 0.15em;
}
