/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/post-terms.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Terms:
-----------------------------------------------------------------------------*/
.wp-block-post-terms.taxonomy-category:before, .wp-block-post-terms.taxonomy-post_tag:before {
  content: "";
  background-color: currentColor;
  display: inline-flex;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  position: relative;
  top: -2px;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.wp-block-post-terms.taxonomy-category:before {
  -webkit-mask-image: url(../../icons/category.svg);
          mask-image: url(../../icons/category.svg);
  margin-right: 0.15em;
}

.wp-block-post-terms.taxonomy-post_tag:before {
  -webkit-mask-image: url(../../icons/tag.svg);
          mask-image: url(../../icons/tag.svg);
  margin-right: 0.15em;
}

/* Remove bottom margin on Category and Tag descriptions */
.wp-block-term-description p {
  margin-block-start: 0;
  margin-block-end: 0;
}
