/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/time-to-read.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Time to Read
-----------------------------------------------------------------------------*/
.wp-block-time-to-read:before {
  content: "";
  background-color: currentColor;
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.wp-block-time-to-read:before {
  -webkit-mask-image: url(../../icons/clock.svg);
          mask-image: url(../../icons/clock.svg);
  margin-right: 0.15em;
}
